@model SimpliHR.Infrastructure.Models.Payroll.ComponentsTaxLimitDTO
@{
    ViewData["Title"] = "ComponentTaxLimit";
    Layout = "~/Views/Shared/_LayoutVertical.cshtml";
}

<style>

    label.required:after {
        content: "*";
        color: red;
        font-size: 18px;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Payroll /</span> Tax Limit Settings</h4>



    <div class="card">
        <div class="card-body">

            <form method="post" action="/StatutoryComponent/SaveComponentsTaxLimit">
                <div class="row g-3">

                    <div class="col-md-12">
                        <label class="form-label" for="multicol-last-name">Gratuity Tax Free Limit</label>
                        <input type="number" id="GratuityLimit" required name="GratuityLimit" class="form-control" value="@Model.GratuityLimit">

                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="multicol-last-name">Leave Encashment Tax Free Limit</label>
                        <input type="number" id="LeaveEncashmentLimit" name="LeaveEncashmentLimit" class="form-control" value="@Model.LeaveEncashmentLimit">

                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="multicol-last-name">PF (Employer's Share) Tax Free Limit</label>
                        <input type="number" id="PFLimit" name="PFLimit" class="form-control" value="@Model.PFLimit">

                    </div>
                </div>
                <div class="pt-4">
                    <input type="hidden" id="TaxLimitId" name="TaxLimitId" value="@Model.TaxLimitId">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                    @* <button type="reset" class="btn btn-label-secondary" onclick="javascript:window.location.href='/Leave/LeaveApply/'">Cancel</button>*@
                </div>
            </form>

        </div>
    </div>
    <div class="modal fade" id="showAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
            <h2>SimpliHR2.0</h2>
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body">
                    <button type="button" class="btn-close" name="btnPopupClose" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-4">
                    </div>
                    <form id="showAlert" class="row g-3" onsubmit="return false">
                        <div class="col-12 text-center" id="errorDiv">
                            <p id="errorPara" class="error" style="color:red"></p>
                        </div>
                        <div class="col-12 text-center" id="successDiv">
                            <p id="successPara" class="error" style="color:black"></p>
                        </div>
                    </form>
                </div>

                <div id="popupBtnDiv" class="col-12 text-center">
                    @*  <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>*@
                    <button type="reset" name="btnPopupClose"
                            class="btn btn-label-secondary btn-reset mt-3"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        Close
                    </button>

                </div>

            </div>
        </div>
    </div>
</div>



@section scripts {

    @*<script src="../../customjs/countrydatatabletable.js"></script>*@
    <script src="../../customjs/CommonFunction.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.DisplayMessage.Equals(string.Empty)" == "False") {
                if ("@Model.HttpStatusCode" == 200) {
                    $successalert("", "@Model.DisplayMessage");
                }
                else {
                    $erroralert("Transaction Failed!", "@Model.DisplayMessage");
                }
                //$successalert("Tax Limit", "@Model.DisplayMessage");
            }
        });

        function ShowServerMessage(sMsg) {
            jQuery("#successPara").html("");
            jQuery("#errorPara").html("");
            if (sMsg != "_blank") {
                if (sMsg.toUpperCase() == "SUCCESS") {
                    sMsg = "Ticket Created Successfully";
                    jQuery("#successDiv").show();
                    jQuery("#successPara").html(sMsg);

                    // window.location = "/EmployeeAttendanceUI/ViewAttendance"
                }
                else {
                    jQuery("#errorDiv").show();
                    jQuery("#errorPara").html(sMsg);
                }

                jQuery("#showAlert").modal('show');
                //ResetForm();

            }
        }
        // function onAgeClick(e) {
        //     var id = e.value;
        //     window.location = '@Url.Action("GetTaxList", "SalaryComponents", new { ageGroupId = "ID" })'.replace("ID", parseInt(id));
        // }
    </script>
}


