@model SimpliHR.Infrastructure.Models.StatutoryComponent.StatutoryComponentsLabourWelfareFundDTO
<style>
    table tbody tr td {
        padding: 5px;
    }
</style>

<div class="card" style="width: fit-content;padding: 25px;">
    <h5> @(Model == null ? "" : Model.SelectedUnit == null ? "" : Model.SelectedUnit.UnitName) (@(Model == null ? "" : Model.SelectedUnit == null ? "" : Model.SelectedUnit.Address),@(Model == null ? "" : Model.SelectedUnit == null ? "" : Model.SelectedUnit.City == null ? "" : Model.SelectedUnit.City.CityName)) &nbsp;&nbsp;&nbsp;   <i class="fa fa-edit hvr-grow" onclick="EditLabourWelfareFundPartial()"></i></h5>
    <input type="hidden" id="StatutoryComponentsLabourWelfareFundId" value="@(Model == null ? "0" : Model.StatutoryComponentsLabourWelfareFundId == null ? "0" : Model.StatutoryComponentsLabourWelfareFundId)" />
    <table>
        <tbody>
            <tr>
                <td>Employee's Contribution</td>
                <td style="width:5px"></td>
                <td>₹ @(Model == null ? "0" : Model.EmployeesContribution == null ? "0" : Model.EmployeesContribution)</td>
            </tr>
            <tr>
                <td>Employer's Contribution</td>
                <td style="width:5px"></td>
                <td>₹ @(Model == null ? "0" : Model.EmployersContribution == null ? "0" : Model.EmployersContribution)</td>
            </tr>
            <tr>
                <td>Deduction Cycle</td>
                <td style="width:5px"></td>
                <td>@(Model == null ? "-" : Model.DeductionCycle == null ? "-" : Model.DeductionCycle)</td>
            </tr>
            <tr>
                <td>Status</td>
                <td style="width:5px"></td>
                <td>

                    @{
                        if (Model != null)
                        {
                            if (Model.IsActive != null)
                            {
                                if (Model.IsActive == true)
                                {
                                    <span name="LabourWelfareFundEnabled" style=""><span style="color:green;">Enabled</span> <a onclick="disbaleLabourWelfareFund()" class="hvr-grow" style="color:red" href="javascipt:void(0)">(Disbale)</a></span>
                                }
                                else
                                {
                                    <span name="LabourWelfareFundDisabled"><span style="color:red;">Disabled</span> <a class="hvr-grow" onclick="enableLabourWelfareFund()" href="javascipt:void(0)">(Enable)</a></span>
                                }
                            }
                            else
                            {
                                <span name="LabourWelfareFundDisabled"><span style="color:red;">Disabled</span> <a class="hvr-grow" onclick="enableLabourWelfareFund()" href="javascipt:void(0)">(Enable)</a></span>
                            }
                        }
                        else
                        {
                            <span name="LabourWelfareFundDisabled"><span style="color:red;">Disabled</span> <a class="hvr-grow" onclick="enableLabourWelfareFund()" href="javascipt:void(0)">(Enable)</a></span>
                        }
                    }



                </td>
            </tr>
        </tbody>
    </table>
</div>
