@model SimpliHR.Infrastructure.Models.Employee.EmployeeDashboardVM

<style>
    .nav-pills .nav-link {
        background: #ebeef0;
        padding-left: 37.5px;
        padding-right: 37.5px;
    }
</style>
<link href="~/customcss/dashboard.css" rel="stylesheet" />
@{
    <div class="card upcoming-meetings-widget">
        <div class="card-body row g-4">
            <div class="pe-md-4">

                <div class="card-title d-flex align-items-start justify-content-between mb-3">
                    <small class="col-6 col-md-6 col-lg-7"><h5 class="text-dark fw-bold">Upcoming meetings</h5></small>
                    <small><a href="https://calendar.google.com/calendar/u/0/r" target="_blank" class="fw-bold">My calendar</a></small>
                </div>

                <div class="card bg-label-secondary">
                    <div class="card-body" style="padding:20px 15px;">
                        @if (Model.GoogleEvents != null)
                        {
                            @if (Model.GoogleEvents.Count != 0)
                            {

                                @foreach (var item in Model.GoogleEvents)
                                {
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <small>@item.StartTime to @item.EndTime</small><br>
                                            <small>@item.Summary</small>
                                        </div>
                                        <div class="col-lg-4 mt-3"><a href=@item.Link target="_blank" class="btn btn-primary rounded-pill">Join</a></div>

                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-12 mt-3">

                    <div class="d-flex gap-2 flex-wrap justify-content-center">
                        <button class="btn btn-outline-primary rounded-pill" onclick="location.href='@Url.Action("OuthRedirectOutLook","CalendarAPI")'">Outlook Sign In</button>
                        <button class="btn btn-outline-primary rounded-pill" onclick="location.href='@Url.Action("OuthRedirect","CalendarAPI")'">Google Sign In</button>
                        <button class="btn btn-outline-primary rounded-pill" style="display:none;" onclick="RevokeMeetings();">Sign Out</button>
                    </div>
                   
                    
                </div>
            </div>
        </div>
        
    </div>
}

