@model SimpliHR.Infrastructure.Models.Exit.ExitViewModel



<style>
    .section-resignationdetails input {
        color: green !important;
    }

    .section-resignationdetails textarea {
        color: green !important;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        font-size: 16px;
        line-height: 1.5;
        resize: none; /* Prevent manual resizing */
        overflow: hidden; /* Hide scrollbars */
    }

    .tagify.tagify-email-list:hover .tagify__tag__removeBtn {
        display: none !important;
    }
</style>
<div class="row mt-5">
    <div class="col-md-12">
        <div style="padding: 20px;border: 2px solid green;" class="mb-5 section-resignationdetails">
            <div class="float-end"><i class="fa-solid fa-xmark" onclick="remove(this)"></i></div>
            <div class="row g-3">
                <h4 style="text-decoration: underline;">Resignation Details By Employee</h4>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Employee Code</label>
                    <input type="text" class="form-control form-control-plaintext" readonly value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.EmployeeCode)" placeholder="">
                </div>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Employee Name</label>
                    <input type="text" class="form-control  form-control-plaintext" readonly value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.EmployeeName)" placeholder="Employee Name">
                </div>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Resignation Date</label>
                    <input type="text" class="form-control  form-control-plaintext" readonly value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.ResignationDate==null ? "" : ((DateTime)Model.ResignationDetails.ResignationDate).ToString("dd-MMM-yyyy"))" placeholder="-">
                </div>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Last Working Day</label>
                    <input type="text" class="form-control  form-control-plaintext" readonly value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.LastWorkingDate==null ? "" : ((DateTime)Model.ResignationDetails.LastWorkingDate).ToString("dd-MMM-yyyy"))" placeholder="-">
                </div>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Reason For Leaving</label>
                    <input type="text" class="form-control form-control-plaintext" readonly value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.ReasonForLeaving)" placeholder="">
                </div>
                <div class="col-md-4">
                    <label class="form-label required" for="multicol-last-name">Comments</label>
                    <textarea class="form-control form-control-plaintext auto-resize" readonly>@(Model == null ? "" : Model.ResignationDetails == null ? "" : Model.ResignationDetails.EmployeeComments)</textarea>
                </div>
            </div>
        </div>
        @* <form method="post" style="padding:20px;border: 2px solid green; @((Model!=null && Model.ResignationDetails!=null && Model.ResignationDetails.ManagerApproval!=0) ? "pointer-events: none;" : "")" id="ManagerDetails"> *@
        <form method="post" style="padding:20px;border: 2px solid green; @((Model?.ResignationDetails?.ManagerApproval!=0) ? "pointer-events: none;" : (Model?.ResignationDetails?.AdminApproval!=0) ? "pointer-events: none;" : "")" id="ManagerDetails">
            <div class="float-end"><i class="fa-solid fa-xmark" onclick="remove(this)"></i></div>
            <div class="row g-3">
                <h4 style="text-decoration: underline;">Resignation Details By Manager</h4>
                <div class="col-md-6">
                    <label class="form-label required" for="multicol-last-name">Resignation Date</label>
                    @* <input type="text" id="ResignationDate" name="ResignationDateManager" class="form-control flatpickr-date" value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.ResignationDateManager==null ? ((DateTime)Model.ResignationDetails.ResignationDate).ToString("dd-MMM-yyyy") : ((DateTime)Model.ResignationDetails.ResignationDateManager).ToString("dd-MMM-yyyy"))" placeholder="DD-MMM-YYYY" required> *@

                    <input type="text" id="ResignationDate" name="ResignationDateManager" class="form-control flatpickr-date" value="@(Model?.ResignationDetails?.ResignationDateManager==null ? Model?.ResignationDetails?.ResignationDate?.ToString("dd-MMM-yyyy") : Model?.ResignationDetails?.ResignationDateManager?.ToString("dd-MMM-yyyy"))" placeholder="DD-MMM-YYYY" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label required" for="multicol-last-name">Last Working Day</label>
                    @* <input type="text" id="LastWorkingDate" name="LastWorkingDateManager" class="form-control flatpickr-date" value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.LastWorkingDateManager==null ? ((DateTime)Model?.ResignationDetails?.LastWorkingDate).ToString("dd-MMM-yyyy") : ((DateTime)Model.ResignationDetails.LastWorkingDateManager).ToString("dd-MMM-yyyy"))" placeholder="DD-MMM-YYYY" required> *@
                    <input type="text" id="LastWorkingDate" name="LastWorkingDateManager" class="form-control flatpickr-date" value="@(Model?.ResignationDetails?.LastWorkingDateManager==null ? Model?.ResignationDetails?.LastWorkingDate?.ToString("dd-MMM-yyyy") : Model?.ResignationDetails?.LastWorkingDateManager?.ToString("dd-MMM-yyyy"))" placeholder="DD-MMM-YYYY" required>

                </div>
                <div class="col-md-6">
                    <input type="checkbox" name="NoticePeriodWaiveOff" id="NoticeWaiveOff" @(Model == null ? "" : Model.ResignationDetails == null ? "" : Model.ResignationDetails.NoticePeriodWaiveOff == false ? "" : "checked") /><label for="NoticeWaiveOff"> Notice Period Waive Off</label>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" name="EligibleToHire" id="EligibleToHire" @(Model == null ? "" : Model.ResignationDetails == null ? "" : Model.ResignationDetails.EligibleToHire == false ? "" : "checked") /><label for="EligibleToHire">Eligible To Rehire</label>
                </div>
                <div class="col-md-6">
                    <label class="form-label required" for="multicol-last-name">Reason for Leaving</label>
                    @Html.DropDownList("ReasonForLeaving", new SelectList(Model.ExitReasonList, "KeyName", "KeyValue", Model?.ResignationDetails?.ReasonForLeavingManager), "Select Reason", htmlAttributes: new { @class = "dbcol select2 form-select select2-hidden-accessible", @required = "required" })
                </div>

                <div class="col-sm-6">
                    <label for="formFile" class="form-label">Documents</label>
                    <input class="form-control" type="file" id="DocumentFile" name="DocumentFile" minlength="100" filemaxsize="10" />

                    <div class="col-md-12">
                        @{
                            if (Model != null && Model.ResignationDetails != null && Model.ResignationDetails.DocumentName != null)
                            {
                                <tags class="tagify tagify-email-list" tabindex="-1" name="attachmentTag_@Model.ResignationDetails.ResignationListId" style="cursor:pointer;pointer-events:all" onclick="DownloadResignationDocumentM('@Model.ResignationDetails.encResignationListId','@Model.ResignationDetails.DocumentName')">
                                    <tag title="@Model.ResignationDetails.DocumentName" contenteditable="false" spellcheck="false" tabindex="-1" class="tagify__tag tagify--noAnim" value="@Model.ResignationDetails.DocumentName">
                                        <x title="" class="tagify__tag__removeBtn" role="button" aria-label="remove tag" style="display:inherit"></x>
                                        <div>
                                            <span class="tagify__tag-text">@Model.ResignationDetails.DocumentName</span>
                                        </div>
                                    </tag>
                                    <span contenteditable="" tabindex="0" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-autocomplete="both" aria-multiline="false">
                                    </span>
                                </tags>
                            }
                        }
                    </div>

                </div>
                <div class="col-md-6">
                    <label class="form-label" for="multicol-last-name">Manager Remarks</label>
                    <textarea class="form-control auto-resize" required id="txtRemarks" name="ManagerRemarks" rows="4" maxlength="255" oninput="validateManagerCommentInput(this)">@(Model == null ? "" : Model.ResignationDetails == null ? "" : Model.ResignationDetails.ManagerRemarks)</textarea>
                    @{
                        if (Model?.ResignationDetails?.ManagerApproval == 0)
                        {
                            if (Model?.ResignationDetails?.AdminApproval == 0)
                            {
                                <span name="EmployeeCommentsCharacterHelp" style="color:red">Max 255 characters allowed</span>
                            }
                        }
                    }

                </div>
            </div>
            <div class="pt-4">


                @{
                    if (Model?.ResignationDetails?.ManagerApproval == 0)
                    {
                        if (Model?.ResignationDetails?.AdminApproval == 0)
                        {
                            <input type="button" class="btn btn-primary me-sm-3 me-1" onclick="SaveResignationDetailsByManager()" value="Approve" />
                            <input type="button" class="btn btn-danger me-sm-3 me-1" onclick="RejectResignationByManager()" value="Reject" />
                        }
                    }
                }
                <input type="hidden" name="EmployeeId" value="@(Model==null?0:Model.ResignationDetails==null?0:Model.ResignationDetails.EmployeeId)" />
                <input type="hidden" name="ResignationListId" value="@(Model==null?0:Model.ResignationDetails==null?0:Model.ResignationDetails.ResignationListId)" />
                <input type="hidden" name="encResignationListId" value="@(Model==null?"":Model.ResignationDetails==null?"":Model.ResignationDetails.encResignationListId)" />

            </div>
        </form>

    </div>
</div>