@model SimpliHR.Infrastructure.Models.Masters.DepartmentMasterDTO
@{
    ViewData["Title"] = "Department";
    Model.DisplayMessage += "";
    //Layout = null;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Company Structure /</span> Department </h4>
    <div class="modal fade" id="showAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
            <h2>SimpliHR2.0</h2>
            <div class="modal-content p-3 p-md-5">
                <form id="showAlert" class="row g-3" onsubmit="return false">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                        </div>

                        <div class="col-12 text-center" id="successDiv">
                            <p id="errorPara" class="error" style="color:red"></p>
                        </div>
                        <div class="col-12 text-center" id="errorDiv">
                            <p id="successPara" class="error" style="color:black"></p>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        @*  <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>*@
                        <button type="reset" id="btnClose"
                                class="btn btn-label-secondary btn-reset mt-3"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Close
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card addShow" id="List" style="@(ViewBag.Div=="Add" ? "display:none" : "")">
        <div class="card-body">
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="right"
                    data-bs-html="true"
                    style="float:right;"
                    onclick="AddView()"
                    title="Add all existing departments within your company structure. For example: Marketing, Sales, HR.">
                    @*title="<i class='bx bx-trending-up bx-xs' ></i> <span>Add all existing departments within your company structure. For example: Marketing, Sales, HR.</span>">*@
                Add Department
            </button>
          @*  <input type="button" class="btn btn-primary" id="AddRecord" value="Add Record" onclick="AddView()" style="float:right;" alt="Add all existing departments within your company structure. For example: Marketing, Sales, HR." />
            <span id="addToolTip" data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  data-bs-custom-class="tooltip-secondary">
                <label class="form-label required" id="lblToolTipText" for="AddRecord">Add all existing departments within your company structure. For example: Marketing, Sales, HR.</label> &nbsp;
            </span>*@
            <div style="clear:both"></div>
            <div class="card-datatable table-responsive text-nowrap">
                <table class="datatables-ajax table List" id="List">
                    <thead>
                        <tr>
                            <th>Department Code</th>
                            <th>Department</th>
                            @* <th>Status</th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DepartmentMasterList != null)
                            @foreach (var item in Model.DepartmentMasterList)
                            {
                                <tr>
                                    <td>@item.DepartmentCode</td>
                                    <td>@item.DepartmentName</td>
                                    @*  <th>@(item.IsActive == true ? "Active" : "Inactive")</th>*@
                                    <td>
                                        <a class="dropdown-item d-inline" href="/Department/GetDepartmentInfo/@item.EncryptedDepartmentId"><i class="bx bx-edit-alt me-1"></i></a>
                                        <a class="dropdown-item d-inline" href="#" onclick="DeleteRecord('@item.DepartmentName','@item.EncryptedDepartmentId')"><i class="bx bx-trash me-1"></i></a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="card" id="Add" style="@(ViewBag.Div=="Add" ? "" : "display:none")">
        <div class="card-body">
            <input type="button" class="btn btn-primary addShow" value="List" onclick="javascript:window.location.href='/Department/Department'" style="float:right" />
            <div style="clear:both"></div>
            <form method="post" action="/Department/SaveDepartment">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label" for="multicol-last-name">Department Code</label>
                        <input type="text" id="DepartmentCode" name="DepartmentCode" required maxlength="10" value="@Model.DepartmentCode" class="form-control" placeholder="Department Code">
                        <span asp-validation-for="DepartmentCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="multicol-last-name">Department</label>
                        <input type="text" id="DepartmentName" name="DepartmentName" required maxlength="100" value="@Model.DepartmentName" class="form-control" placeholder="Department">
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-4">
                    <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1" >Submit</button>
                    <button type="reset" class="btn btn-label-secondary" onclick="javascript:window.location.href='/Department/Department'">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/customjs/commonfunction.js"></script>
@* <script src="~/customjs/employeevalidation.js"></script> *@
@section scripts {

    @*<script src="../../customjs/countrydatatabletable.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".List").dataTable();
            if (@Model.DepartmentId != 0 || @Model.HttpStatusCode!= 200) {
                $("#List").hide();
                $("#Add").show();
            }
            else {
                ClearInputs();
            }
            if ("@Model.DisplayMessage.Equals(string.Empty)" == "False") {
                if ("@Model.HttpStatusCode" == 200) {
                    $successalert("", "@Model.DisplayMessage");                    
                }
                else {
                    $erroralert("Transaction Failed!", "@Model.DisplayMessage");                    
                }                
            }

        });

        function ClearInputs() {
            $("#DepartmentCode").val("");
            $("#DepartmentName").val("");
        }
        function ListView() {
            $("#Add").hide();
            $("#List").show();
        }
        function AddView() {
            $("#Add").show();
            $("#List").hide();
            ClearInputs();
        }

        function DeleteRecord(departmentName, departmentId) {
            // event.preventDefault();
            url = $(this).attr('href');
            history.pushState({ key: url }, '', url);

            Swal.fire({ title: 'Are you sure?', text: "This will get deleted permanently!", icon: 'warning', showCancelButton: true, confirmButtonText: 'Yes, delete it!', customClass: { confirmButton: 'btn btn-primary me-3', cancelButton: 'btn btn-label-secondary' }, buttonsStyling: false }).then(function (result) {
                if (result.value) {
                    window.location.href = "/Department/DeleteDepartment/" + departmentId;
                }
            });

            // if (confirm("Sure want to delete department '" + departmentName + "'?")) {
            //     window.location.href = "/Department/DeleteDepartment/" + departmentId;
            // }
            return false;
        }

        function BlockedUI() {

            BlockUI();
            if (jQuery("#DepartmentCode").val() == '') {
                ShowServerMessage("Please insert Department code");
                UnblockUI();
                return false;
            }
            if (jQuery("#DepartmentName").val() == '') {

                ShowServerMessage("Please insert Department Name");
                UnblockUI();
                return false;
            }
        }

        function ShowServerMessage(sMsg) {
            jQuery("#successPara").html("");
            jQuery("#errorPara").html("");
            if (sMsg != "_blank") {
                // if (sMsg.toUpperCase() == "SUCCESS") {
                // sMsg = "Earnnig component created/updated successfully";
                jQuery("#successDiv").show();
                jQuery("#successPara").html(sMsg);

                // window.location = "/EmployeeAttendanceUI/ViewAttendance"
                //  }
                //else {
                //    jQuery("#errorDiv").show();
                //    jQuery("#errorPara").html(sMsg);
                //}

                jQuery("#showAlert").modal('show');
                //ResetForm();

            }
        }
    </script>
    }