@model SimpliHR.Infrastructure.Models.Performace.PMSReportListViewModel
<div class="table-responsive text-nowrap">
    <table class="table table-bordered">
        <thead>
            <tr>
                @*<th>SN</th>*@
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Function</th>
                <th>Location</th>
                <th>Manager</th>
                <th>HOD</th>
                <th>PMS Status</th>
                <th>
                    KRA's Weight-Age
                </th>
                <th>
                    KRA's Rating
                </th>
                <th>
                    Final KRA's Rating
                </th>
                <th>
                    Behav. Weight-Age
                </th>
                <th>
                    Behav. Rating
                </th>
                <th>
                    Final Behav. Rating
                </th>
                <th>
                    Final Score
                </th>
                <th>
                    Final Rating - Manager
                </th>
                <th>
                    Final Rating - HOD
                </th>
                <th>
                    Closing Remarks - Employee
                </th>
                <th>
                    Closing Remarks - Manager
                </th>
                <th>
                    Closing Remarks - HOD
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.PMSReportList != null)
                {
                    foreach (var item in Model.PMSReportList)
                    {
                        <tr>
                            <td>@item.EmployeeCode</td>
                            <td>@item.EmployeeName</td>
                            <td>@item.Designation</td>
                            <td>@item.Department</td>
                            <td>@item.Function</td>
                            <td>@item.WorkLocation</td>
                            <td>@item.Manager</td>
                            <td>@item.HOD</td>
                            <td>@item.PMSStatus</td>
                            <td>@(item.KRAWeightage)%</td>
                            <td>@item.KRARating</td>
                            <td>@item.FinalKRARating</td>
                            <td>@(item.BehaviouralWeightage)%</td>
                            <td>@item.BehaviouralRating</td>
                            <td>@item.FinalBehaviouralRating</td>
                            <td>@item.FinalScore</td>
                            <td>@item.FinalRatingManager</td>
                            <td>@item.FinalRatingHOD</td>
                            <td>@item.ClosingRemarksEmployee</td>
                            <td>@item.ClosingRemarksManager</td>
                            <td>@item.ClosingRemarksHOD</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>