@model SimpliHR.Infrastructure.Models.EmployeeSocialActivity.EmployeeAnnouncementViewModel
<link href="~/customcss/newscardview.css" rel="stylesheet" />

<div class="card" style="min-height: 1170px;">
    <div class="card-body">
        <div class="row mb-1 news-main">
            <div class="col-lg-8 mb-3 news-search">
                <input type="search" onchange="fetchPartialViewAnnouncementCard()" class="form-control border" placeholder="Search... title, keywords, categories, publication name, author name " aria-controls="DataTables_Table_0" asp-for="AnnouncementSearchKeyword">
            </div>
            <div class="col-10 col-lg-3">
                <select id="select2Basic" class="select2 form-select form-select-lg float-start border-0" data-allow-clear="true" asp-for="AnnouncementTypeId" onchange="fetchPartialViewAnnouncementCard()">
                    <option value="0">Select Option</option>
                    @{
                        if (Model != null && Model.AnnouncementTypeMasterList != null)
                        {
                            foreach (var item in Model.AnnouncementTypeMasterList)
                            {
                                <option value="@item.AnnouncementTypeId">@item.AnnouncementType</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-2 col-lg-1"><i class="bx bx-list-ul bx-sm mt-2" onclick="ListView()"></i></div>
        </div>
        <div class="row">
            @{
                if (Model != null && Model.EmployeeAnnouncementWithChildList != null)
                {
                    foreach (var item in Model.EmployeeAnnouncementWithChildList)
                    {
                        <div class="col-lg-4">
                            <div class="news-container news-container-card border rounded mt-4 p-0 cursor-pointer" onclick="AnnouncementDetails('@item.encEmployeeAnnouncementId','card')">
                                <div><img src="../@(item.ImagePath)" class="rounded" width="100%" height="auto%" alt=""></div>
                                <div class="p-3">
                                    <div class="mb-1"><span>@(item.AnnouncementType)</span></div>

                                    @{
                                        if (item.Title != null && item.Title.Length > 50)
                                        {
                                            <div class="mb-2 fw-bold news-ttl">@(item.Title.Substring(0, 50))...</div>
                                        }
                                        else
                                        {
                                            <div class="mb-2 fw-bold news-ttl">@item.Title</div>
                                        }
                                        if (item.Description != null)
                                        {
                                            if (item.Description.Length > 110)
                                            {
                                                <div class="mb-2 news-short-cont-card">@Html.Raw(item.Description.Substring(0, 110))... </div>
                                            }
                                            else
                                            {
                                                <div class="mb-2 news-short-cont-card">@Html.Raw(item.Description)</div>
                                            }
                                        }
                                    }


                                    <div class="news-catg-name-card">
                                        <div class="d-inline-block me-2" style="font-size: 8px;">@(item.Keywords)</div>
                                        <div class="d-inline-block me-2" style="font-size: 8px;">&#9670;</div>
                                        @{
                                            DateTime publishDateTime = item.PublishDate + item.PublishTime;
                                            var timeDiff = (System.DateTime.Now - publishDateTime);
                                            if (timeDiff != null)
                                            {
                                                if (timeDiff.Days >= 1)
                                                {
                                                    if (timeDiff.Days > 1)
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Days) days ago</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Days) day ago</div>
                                                    }
                                                }
                                                else if (timeDiff.Hours >= 1)
                                                {
                                                    if (timeDiff.Hours > 1)
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Hours) hours ago</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Hours) hour ago</div>
                                                    }
                                                }
                                                else
                                                {
                                                    if (timeDiff.Minutes > 1)
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Minutes) minutes ago</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="d-inline-block small">@(timeDiff.Minutes) minute ago</div>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="demo-inline-spacing" style="margin:auto">
                    <!-- Basic Pagination -->
                    @{
                        if (Model != null && Model.PageDetails != null)
                        {
                            int PageIndex = Model.PageDetails.PageNumber ?? default(int);
                            int TotalPages = Model.PageDetails.TotalPages ?? default(int);
                            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
                                <ul class="pagination">
                                    <li class="page-item first">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(1)">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(@(PageIndex > 1 ? PageIndex - 1 : 1))">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </a>
                                    </li>

                                    @if (PageIndex > 3)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(1)">1</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (var i = Math.Max(1, PageIndex - 1); i <= Math.Min(PageIndex + 1, TotalPages); i++)
                                    {
                                        <li class="page-item @(i == PageIndex ? "active" : "")">
                                            <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(@i)">@i</a>
                                        </li>
                                    }

                                    @if (PageIndex < TotalPages - 2)
                                    {
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(@TotalPages)">@TotalPages</a>
                                        </li>
                                    }

                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(@(PageIndex < TotalPages ?  PageIndex + 1 : TotalPages))">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item last">
                                        <a class="page-link" href="javascript:void(0)" onclick="fetchPartialViewAnnouncementCard(@TotalPages)">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        }
                    }


                    <!--/ Basic Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>
