@{
    ViewData["Title"] = "Add Announcements";
}
@model SimpliHR.Infrastructure.Models.EmployeeSocialActivity.EmployeeAnnouncementViewModel
<link rel="stylesheet" href="~/assets/vendor/libs/quill/typography.css" />
<link rel="stylesheet" href="~/assets/vendor/libs/quill/katex.css" />
<link rel="stylesheet" href="~/assets/vendor/libs/quill/editor.css" />

<link rel="stylesheet" href="~/assets/vendor/libs/dropzone/dropzone.css" />

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css">*@

<link rel="stylesheet" href="~/assets/vendor/libs/tagify/tagify.css" />
<link href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css" rel="stylesheet">
<style>
    label.required:after {
        content: "*";
        color: red;
        font-size: 14px;
    }

    .tagify__tag-text {
        white-space: nowrap !important;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Query Management/</span> Add Complaint</h4>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 order-0 order-md-1">
            <div class="card">
                <div class="card-body">
                    <input type="button" class="btn btn-primary btn-sm mb-3" value="List Of Complaints" style="float:right;margin-bottom:5px;" onclick="window.location.href='/QueryManagement/ComplaintList'" />
                    <div class="clearfix"></div>
                    <form id="ComplaintForm" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="defaultFormControlInput" class="form-label required" required>Title</label>
                                        <input type="text" class="form-control" placeholder="Title" asp-for="employeeAnnouncementDTO.Title" required>                                        
                                        <span class="text-danger validation-error" style="display:none"></span>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="defaultFormControlInput" class="form-label required" required>Assign To</label>
                                        <select class="form-control" required asp-for="employeeAnnouncementDTO.AnnouncementType">
                                            <option value="0">Select</option>
                                            @{
                                                if (Model != null && Model.AnnouncementTypes != null)
                                                {
                                                    foreach (var item in Model.AnnouncementTypes)
                                                    {
                                                        <option value="@item.AnnouncementTypeId">@item.AnnouncementType</option>
                                                    }
                                                }
                                            }
                                        </select>                                        
                                        <span class="text-danger validation-error" style="display:none"></span>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="defaultFormControlInput" class="form-label required" required>Priority</label>
                                        <select class="form-control" required asp-for="employeeAnnouncementDTO.AnnouncementType">
                                            <option value="0">Select</option>
                                            @{
                                                if (Model != null && Model.AnnouncementTypes != null)
                                                {
                                                    foreach (var item in Model.AnnouncementTypes)
                                                    {
                                                        <option value="@item.AnnouncementTypeId">@item.AnnouncementType</option>
                                                    }
                                                }
                                            }
                                        </select>                                        
                                        <span class="text-danger validation-error" style="display:none"></span>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="defaultFormControlInput" class="form-label required" required>Due Date</label>
                                        <input type="text" class="form-control" name="PublishDate" placeholder="DD-MMM-YYYY" id="flatpickr-date" />
                                        <span class="text-danger validation-error" style="display:none"></span>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="defaultFormControlInput" class="form-label required" required>Category</label>
                                        <select class="form-control" required asp-for="employeeAnnouncementDTO.AnnouncementType">
                                            <option value="0">Select</option>
                                            @{
                                                if (Model != null && Model.AnnouncementTypes != null)
                                                {
                                                    foreach (var item in Model.AnnouncementTypes)
                                                    {
                                                        <option value="@item.AnnouncementTypeId">@item.AnnouncementType</option>
                                                    }
                                                }
                                            }
                                        </select>                                        
                                        <span class="text-danger validation-error" style="display:none"></span>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="formFileMultiple" class="form-label">Attachments</label>
                                        <input class="form-control" type="file" id="attachments" multiple="">
                                        <div class="col-md-12">
                                            @{
                                                if (Model != null)
                                                {
                                                    if (Model.EmployeeAnnouncementFileUploadList != null)
                                                    {
                                                        foreach (var item in Model.EmployeeAnnouncementFileUploadList)
                                                        {
                                                            if (item.UploadType == "Attachment")
                                                            {
                                                                <tags class="tagify tagify-email-list" tabindex="-1" name="attachmentTag_@item.EmployeeAnnouncementFileUploadsId">
                                                                    <tag title="@item.UploadedFileName" contenteditable="false" spellcheck="false" tabindex="-1" class="tagify__tag tagify--noAnim" value="@item.UploadedFileName">
                                                                        <x title="" class="tagify__tag__removeBtn" role="button" aria-label="remove tag" style="display:inherit" onclick="deleteUploadedFile(@item.EmployeeAnnouncementFileUploadsId)"></x>
                                                                        <div>
                                                                            <span class="tagify__tag-text">@item.UploadedFileName</span>
                                                                        </div>
                                                                    </tag>
                                                                    <span contenteditable="" tabindex="0" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-autocomplete="both" aria-multiline="false">
                                                                    </span>
                                                                </tags>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="defaultFormControlInput" class="form-label">Description</label>
                                        <div id="full-editor">
                                            @Html.Raw(Model == null ? "" : Model.employeeAnnouncementDTO == null ? "" : Model.employeeAnnouncementDTO.Description == null ? "" : Model.employeeAnnouncementDTO.Description)
                                        </div>                                       
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <label for="defaultFormControlInput" class="form-label">Remarks</label>
                                        <div id="full-editor1">
                                            @Html.Raw(Model == null ? "" : Model.employeeAnnouncementDTO == null ? "" : Model.employeeAnnouncementDTO.Description == null ? "" : Model.employeeAnnouncementDTO.Description)
                                        </div>                                       
                                    </div>
                                    

                                   
                                    <div class="col-md-12">
                                        <input type="button" class="btn btn-primary btn-sm" onclick="SaveAnnouncement('Publish')" value="Submit">
                                        @* <input type="button" class="btn btn-primary btn-sm" value="Schedule" data-bs-toggle="modal" data-bs-target="#ScheduleModal"> *@
                                        <input type="hidden" asp-for="employeeAnnouncementDTO.encEmployeeAnnouncementId" />
                                        <input type="hidden" asp-for="SerializedSurveyPolls" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SurveyPollModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Survey Poll</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="tblSurveyPolls">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a id="btnSurveyPollAddQuestion" href="javascript:void(0)" onclick="AddQuestion()">Add Question</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="SurveyPollAddQuestionDiv">
                        @*<div class="form-group col-md-12 mb-3">
                        <label for="defaultFormControlInput" class="form-label required" required>Question Name</label>
                        <input type="text" class="form-control" placeholder="Question" name="Question" required>
                        <span class="text-danger validation-error" style="display:none"></span>
                        </div>
                        <div class="optionsDiv">
                        <div class="form-group col-md-12 mb-3">
                        <label for="defaultFormControlInput" class="form-label required" required>Option 1</label>
                        <input type="text" class="form-control" name="Options_1" placeholder="Option 1" required>
                        <span class="text-danger validation-error" style="display:none"></span>
                        </div>
                        </div>
                        <div class="form-group col-md-12 mb-3">
                        <a href="javascript:void(0)" onclick="addOption(this)">Add Option</a>
                        </div>*@
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
            Close
            </button>
            <button type="button" class="btn btn-primary" onclick="SaveSurveyPoll()">Save Poll</button>
            </div>*@
        </div>
    </div>
</div>
<div class="modal fade" id="ScheduleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Schedule Publish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="flatpickr-date" class="form-label">Date</label>
                        <input type="text" class="form-control" name="PublishDate1" placeholder="DD-MMM-YYYY" id="flatpickr-date1" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="flatpickr-time" class="form-label">Time</label>
                        <input type="text" class="form-control" placeholder="HH:MM" name="PublishTime" id="flatpickr-time" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="SaveAnnouncement('Schedule')">Schedule Publish</button>
            </div>
        </div>
    </div>
</div>
<input type="button" id="btnModalImageCrop" data-bs-toggle="modal" data-bs-target="#backDropModal" data-bs-backdrop="static" value="Test" style="display:none" />
<style>
    #croppedImage {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
        display: block;
    }
</style>
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Crop Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="width:100%;margin:auto">
                    <img id="croppedImage" src="#" alt="Cropped Image" style="margin:auto">
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" id="cropButton">Crop Image</button>
            </div>
        </form>
    </div>
</div>



@section scripts {
    <script src="~/assets/vendor/libs/quill/katex.js"></script>
    <script src="~/assets/vendor/libs/quill/quill.js"></script>
    <script src="~/assets/js/forms-editors.js"></script>

    <script src="~/assets/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/assets/js/forms-file-upload.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>*@

    <script src="~/assets/vendor/libs/tagify/tagify.js"></script>
    <script src="~/assets/js/forms-tagify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
    <script src="~/customjs/socialactivity/addannouncement.js"></script>
    <script type="text/javascript">



    </script>
}

