@model SimpliHR.Infrastructure.Models.Login.ChangePasswordDTO
@{
    Layout = null;
}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR CLICKS</title>

    <link rel="stylesheet" href="~/NewTheme/css/login.css">
    <link rel="stylesheet" href="~/NewTheme/css/loginresponsive.css">
    <link rel="stylesheet" href="~/NewTheme/css/bootstrap.min.css">

    <!-- google fonts here  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="login-page">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 p-0">
                    <div class="slider">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/NewTheme/image/login-1.svg" class="img-fluid" alt="...">
                                    <div class="carousel-caption  d-md-block">
                                        <h2>Best Employee Experience Platform</h2>
                                        <p>Don’t limit yourself. Many people limit themselves to what they think.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/NewTheme/image/login-1.svg" class="img-fluid" alt="...">
                                    <div class="carousel-caption d-md-block">
                                        <h2>Finally a place where it all comes together</h2>
                                        <p>Employees like you can even make Mondays a joy. Thanks for your hard.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/NewTheme/image/login-1.svg" class="img-fluid" alt="...">
                                    <div class="carousel-caption  d-md-block">
                                        <h2>Focus on the work that matters</h2>
                                        <p>Business opportunities are like buses, there’s always another one</p>
                                    </div>
                                </div>.
                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="login-form">
                        <div class="img-logo">
                            <a href="index.html"><img src="~/NewTheme/image/HRLOGO.png" class="img-fluid " alt=""></a>
                        </div>

                        <div class="form-h">
                            <h2>Change Password</h2>
                            <form class="" method="post" action="/Account/Change_Password">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <span asp-validation-for="OldPassword" class="text-danger animate-top" id="new-password-error"></span><br />
                                <span asp-validation-for="NewPassword" class="text-danger animate-top" id="new-password-error"></span><br />
                                <span asp-validation-for="ConfirmPassword" class="text-danger animate-top" id="conf-password-error"></span>
                                <h6 style="font-weight: 500;    color: red;">
                                    @{
                                        if (Model != null)
                                        {
                                            <input type="hidden" asp-for=FirstTimeSettingPassword value="@(Model?.FirstTimeSettingPassword==null ? false : Model.FirstTimeSettingPassword)" />
                                            @(Model?.FirstTimeSettingPassword == true ? "Please set your own password before logging in" : "")
                                        }
                                    }

                                </h6>
                                <h6 style="font-weight: 500;    color: red;">
                                    @{
                                        if (Model != null)
                                        {
                                            @(Model.DisplayMessage)
                                        }
                                    }
                                </h6>
                                <input type="password" asp-for=OldPassword class="password" id="Password" value="@(Model!=null ? Model.OldPassword : "")" placeholder="Old Password">
                                <input type="password" class="password" asp-for=NewPassword placeholder="New Password" value="@(Model!=null ? Model.NewPassword : "")">
                                <input type="password" class="password" asp-for=ConfirmPassword placeholder="confirm Password" value="@(Model!=null ? Model.ConfirmPassword : "")">

                                <div class="login-butn">
                                    <a href=""><button type="submit">Change Password</button> </a>
                                </div>

                                <div class="app-image">
                                    <a href=""> <img src="~/NewTheme/image/PlayStore.svg" class="img-fluid" alt=""></a>
                                    <a href="">   <img src="~/NewTheme/image/AppStore.svg" class="img-fluid" alt=""></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="~/NewTheme/js/bootstrap.min.js"></script>

</body>

</html>