@model SimpliHR.Infrastructure.Models.Payroll.SalaryProcessInputs
@{
    ViewData["Title"] = "ITDeductionReport";
}

@using System.Data
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Reports /</span> IT Deduction Report</h4>

    <div class="modal fade" id="showAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
            <h2>SimpliHR2.0</h2>
            <div class="modal-content p-3 p-md-5">
                <form id="showAlert" class="row g-3" onsubmit="return false">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                        </div>

                        <div class="col-12 text-center" id="successDiv">
                            <p id="errorPara" class="error" style="color:red"></p>
                        </div>
                        <div class="col-12 text-center" id="errorDiv">
                            <p id="successPara" class="error" style="color:black"></p>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        @*  <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>*@
                        <button type="reset" id="btnClose"
                                class="btn btn-label-secondary btn-reset mt-3"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Close
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card" id="Add">
        <div id="wizard-checkout" class="bs-stepper wizard-icons wizard-icons-example mt-2">
            <div class="container selectMain">

                <div class="card-body">

                    <!--<h5 class="card-header">Roster Details</h5>-->
                    <form method="post" action="/Reports/ExportIT">
                        @*   <div class="row g-3" id="errorDiv"><p id="errorPara" class="error" style="color:red"></p></div>*@
                        <div class="row g-3">
                            <div class="col-md-6">

                                @*  <label class="form-control" id="lblyear" for="">2023</label>*@
                                <select class="form-select" id="selyr" name="Year" aria-label="Default select example">
                                    <option value="0" selected>Select an option</option>
                                    @if (Model.Years != null)
                                    {
                                        @foreach (var item in Model.Years)
                                        {
                                            if (item == Model.Year)
                                            {
                                                <option value="@item" selected> @item</option>
                                            }
                                            else
                                            {
                                                <option value="@item"> @item</option>
                                            }

                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-md-6">

                                <select class="form-select" id="selmth" name="Month" aria-label="Default select example">
                                    <option value="0" selected>Select an option</option>

                                    @if (Model.SalMonths != null)
                                    {
                                        @foreach (var item in Model.SalMonths)
                                        {
                                            if (item.ID == Model.Month)
                                            {
                                                <option value="@item.ID" selected> @item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID"> @item.Name</option>
                                            }

                                        }
                                    }
                                </select>

                            </div>

                        </div>

                        <div class="pt-4">
                            <input type="hidden" class="dbcol" id="CrrMonth" name="CrrMonth" />
                            <button type="submit" class="btn btn-primary" onclick="return BlockedUI()">Show</button>

                        </div>
                    </form>

                    <form method="post" asp-action="ExportITReport" asp-controller="Reports">
                        <input type="hidden" name="ITSheet" /> <br />
                        <input type="submit" id="btnSubmit" style="background-color: #2ea44f;border: 1px solid rgba(27, 31, 35, .15); color: #fff;box-shadow: rgba(27, 31, 35, .1) 0 1px 0; font-size: 14px; padding: 6px 16px;line-height: 20px; display:none;" value="Download" />
                        <br />
                    </form>
                    <div class="card-datatable table-responsive text-nowrap">
                        <table class="datatables-ajax table List" id="List">
                            <thead>
                                <tr>
                                     <th>Employee Code</th>
                                    <th>Employee Name</th>
                                    <th>Date Of Joining</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Location</th>
                                    <th>Gross Salary</th>
                                    <th>Exemptions</th>
                                    <th>Net Taxable Income</th>
                                    <th>Total Tax</th>
                                    <th>TDS for the Month</th>
                                    <th>YTD TDS</th>
                                    <th>Balance TDS Due</th>


                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.objITDSet.Tables.Count > 0)
                                    @if (Model.objITDSet.Tables[0].Rows.Count > 0)
                                    {

                                        foreach (DataRow row in Model.objITDSet.Tables[0].Rows)
                                        {

                                            <tr>
                                                <td>@row["EmployeeCode"]</td>
                                                <td>@row["EmployeeName"]</td>
                                                <td>@row["DOJ"]</td>
                                                <td>@row["JobTitle"]</td>
                                                <td>@row["Department"]</td>
                                                <td>@row["CityName"]</td>
                                                <td>@string.Format("{0:#,#.00}", row["GrossSalary"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["Exemptions"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["TaxableIncome"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["TotalTax"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["TDS"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["YTDTDS"])</td>
                                                <td>@string.Format("{0:#,#.00}", row["BalanceTDS"])</td>
                                            </tr>
                                        }
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
       @*  <form method="post" asp-action="ExportITReport" asp-controller="Reports">
            <input type="hidden" name="ITSheet" /> <br />
            <input type="submit" id="btnSubmit" style="background-color: #2ea44f;border: 1px solid rgba(27, 31, 35, .15); color: #fff;box-shadow: rgba(27, 31, 35, .1) 0 1px 0; font-size: 14px; padding: 6px 16px;line-height: 20px; display:none;" value="Download" />
        </form> *@

        <div id="DvITGrid" style="align-content:center; overflow:scroll; width:100%; display:none;">
            <br />
            <div style="float: left;">(TDS Summary Report for the month of Feb @Model.Year)</div>
            <table cellspacing="2" cellpadding="10" align="center" border="1" style="width: 110%;">
                <tr>


                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Sr. No</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Employee Code</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Employee Name</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Date Of Joining</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Designation</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Department</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Location</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Gross Salary</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Exemptions</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Net Taxable Income</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Total Tax</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>TDS for the Month</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>YTD TDS</strong></td>
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;"><strong>Balance TDS Due</strong></td>
                </tr>
                @if (Model.objITDSet.Tables.Count > 0)
                    @if (Model.objITDSet.Tables[0].Rows.Count > 0)
                    {

                        @foreach (DataRow row in Model.objITDSet.Tables[0].Rows)
                        {

                            <tr>
                                @foreach (DataColumn col in Model.objITDSet.Tables[0].Columns)
                                {
                                    <td align="left" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;text-align: right;">@row[col.ColumnName]</td>
                                }
                                @*
                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;">@item.EmployeeCode</td>
                    <td align="left" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;">@item.EmployeeName</td>
                    <td align="left" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;">@item.SelectedRegime</td>
                    <td align="left" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: #566a7f; background-color: #fff;">@item.RegimeType</td> *@

                            </tr>
                        }
                    }

              


            </table>

        </div>

   


</div>
@section scripts {


    <script type="text/javascript">

        jQuery(document).ready(function () {
            $(".List").dataTable();

            $("input[name='ITSheet']").val($("#DvITGrid").html());
            //alert(@Model.SalMonths.Count);

            if ("@Model.Year" != "") {
                jQuery("#selyr").val("@Model.Year");
                jQuery("#selmth").val("@Model.Month");
            }


            if ("@Model.DisplayMessage.Trim().ToUpper()" != "_BLANK") {
                $successalert("Report", "@Model.DisplayMessage");

            }

            if (@Model.objITDSet.Tables.Count> 0) {

                jQuery("#btnSubmit").show();
                // jQuery("#DvITGrid").show();
            }
            else {
                jQuery("#btnSubmit").hide();
                // jQuery("#DvITGrid").hide();
            }
        });

        function BlockedUI() {


            year = jQuery("#selyr").val();
            month = jQuery("#selmth").val();
            //alert(year);
            //return false;

            BlockUI();
            if (year == 0) {
                UnblockUI();
                // jQuery("#btnSubmit").hide();
                $erroralert("Validation", "Please select the year");

                return false;
            }
            if (month == 0) {
                UnblockUI();
                //  jQuery("#btnSubmit").hide();
                $erroralert("Validation", "Please select the year");

                return false;
            }




        }



        //const monthNames = ["January", "February", "March", "April", "May", "June",
        //    "July", "August", "September", "October", "November", "December"
        //];



        function ShowServerMessage(sMsg) {
            jQuery("#successPara").html("");
            jQuery("#errorPara").html("");
            if (sMsg != "_blank") {
                // if (sMsg.toUpperCase() == "SUCCESS") {
                // sMsg = "Earnnig component created/updated successfully";
                jQuery("#successDiv").show();
                jQuery("#successPara").html(sMsg);

                // window.location = "/EmployeeAttendanceUI/ViewAttendance"
                //  }
                //else {
                //    jQuery("#errorDiv").show();
                //    jQuery("#errorPara").html(sMsg);
                //}

                jQuery("#showAlert").modal('show');
                //ResetForm();

            }
        }






    </script>
}

