@model SimpliHR.Infrastructure.Models.ProfileEditAuth.EmployeeEditTicketListViewModel
@{
    //Layout = null;
    ViewData["Title"] = "Edit Ticket List";
}




<!-- / Navbar -->
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Employee / Edit /</span> Ticket</h4>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 order-0 order-md-1">
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#NeedAction" aria-controls="Apply" aria-selected="true">
                                Need Action
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#Completed" aria-controls="View" aria-selected="false">
                                Completed
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="NeedAction" role="tabpanel">
                            <div class="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="table-responsive text-nowrap mb-4">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th><strong>Ticket Id</strong></th>
                                                        <td>Employee</td>
                                                        <td><strong>Department</strong></td>
                                                        <td>View</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model != null && Model.EmployeeEditTicketListActionNeeded != null)
                                                        {
                                                            foreach (var item in Model.EmployeeEditTicketListActionNeeded)
                                                            {
                                                                <tr>
                                                                    <td>@item.TicketId</td>
                                                                    <td>@item.EmployeeName</td>
                                                                    <td>@item.Department</td>
                                                                    <td>
                                                                        <input type="button" class="btn btn-primary" value="View" onclick="window.location.href='/Employee/EmployeeEditList?tenc=@item.encTicketId&&tsc=@item.encSourceScreen'" />
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                       
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Completed" role="tabpanel">
                            <div class="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="table-responsive text-nowrap mb-4">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th><strong>Ticket Id</strong></th>
                                                        <td>Employee</td>
                                                        <td><strong>Department</strong></td>
                                                        <td>View</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model != null && Model.EmployeeEditTicketListApproved != null)
                                                        {
                                                            foreach (var item in Model.EmployeeEditTicketListApproved)
                                                            {
                                                                <tr>
                                                                    <td>@item.TicketId</td>
                                                                    <td>@item.EmployeeName</td>
                                                                    <td>@item.Department</td>
                                                                    <td>
                                                                        <input type="button" class="btn btn-primary" value="View" onclick="window.location.href='/Employee/EmployeeEditList?tenc=@item.encTicketId&&tsc=@item.encSourceScreen'" />
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
    </div>
    <!-- / Content -->
</div>
<!-- Content wrapper -->
@section scripts {

    @*    <script src="../../customjs/countrydatatabletable.js"></script>*@
    <script src="../../customjs/CommonFunction.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });



    </script>


}
